*{
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: .5fr 2fr; 
    height: 100%;
    background-color: red;
}

.side-bar {
    display: grid;
    grid-template-rows: 1fr 8fr;
    background-color: #99b8cc; 
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 4fr; 
}

.top-bar {
    background-color: #e0f2fe;
}

.main-window {
    background-color: #f8fafc; 
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2 1fr;
}

/* Main Window */

.title {
    display: grid;
    grid-template-columns: 2.35fr 1fr; 
    grid-template-rows: 1fr; 
    margin-top: 50px;
    margin-bottom: 30px;
}

.title p{
    text-align: center;
    font-size: 24px;
}

.content-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
}

.content-art {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 10px;
}

.content{
    display: grid;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
}

/* Side Content */

.side-content{
    display: grid;
}

/* Side Bar */

.side-bar-content{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 10px;
    
}

.user{
    display: grid;
    grid-gap: 10px;
}

.settings{
    display: grid;
}
